data/raw/
data/processed/

!data/annotations/
data/annotations/*.pkl
!data/annotations/*.csv
!data/annotations/*.json

models/*.pkl
!models/.gitkeep

__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

venv/
env/
.venv/